<!--Schvání placených akcí  -->
{% set active_page="manage_paid_action" %}
{% extends "base.html" %}
{% block content %}
    <div class="table-paid-action">
        <table class="table">
            <thead>
            <tr>
                <th scope="col" style="width: 140px">ID</th>
                <th scope="col" style="width: 200px">Název</th>
                <th scope="col" style="width: 120px">Cena</th>
                <th scope="col" style="width: 120px">Typ</th>
                <th scope="col" style="width: 180px">Žadatel</th>
                <th scope="col" style="width: 100px">Stav</th>
                <th style="width: 100px"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row" class="input-row"><input type="text" style="border-radius: 0" placeholder="" name="ID"
                                                         class="input-row"></th>
                <td><input style="border-radius: 0" type="text" placeholder="" name="name" class="input-row"></td>
                <td><input style="border-radius: 0;" type="text" placeholder="" name="state" class="input-row"></td>
                <td><input style="border-radius: 0;" type="text" placeholder="" name="type" class="input-row"></td>
                <td><input style="border-radius: 0;" type="text" placeholder="" name="creator" class="input-row"></td>
                <td><input style="border-radius: 0;" type="text" placeholder="" name="state" class="input-row"></td>
                <td> 
                    <button class="button input-row" type="submit">Hledat</button>
                </td>
            </tr>
            <tr>
                {% for p_request,p_req in zip(templates,p_requests) %}
                <th scope="row">{{p_req._id}}</th>
                <td>{{p_request.name}}</td>
                <td>{{p_request.price}}</td>
                <td>{{p_request.type}}</td>
                <td>{{p_doctor[p_req._id]}}</td>
                <td>{{p_req.state}}</td>
                <td style="padding-top: 0; padding-bottom: 0"><span style="font-size: 32px; cursor: pointer" onclick="document.location = '{{url_for('process_request_approved_payment',  payment_id=p_req._id)}}';" >&#10003;</span> <span
                        style="font-size: 32px; padding-left: 15px; cursor: pointer" onclick="document.location = '{{url_for('process_request_not_approved_payment',  payment_id=p_req._id)}}';">&times;</span></td>
            </tr>
            {%endfor%}
            <!-- možná ukázka generování kódu -->
            <!--{#% for row in rows %#}
    <tr>
        <th scope="row">{row.id}</th>
        <td>{#{ row.product_code }#}</td>
        <td>{#{# row.product_code }#}</td>
        <td></td>
    </tr>*-->
            {#% endfor %#}
            </tbody>
        </table>
    </div>
{% endblock %}