html{
    font-family: "Times New Roman", Times, serif;
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
    grid-template-columns: 250px 1fr 1fr;
    grid-template-rows: 70px 1fr 1fr;
    display: grid;
    grid-template-areas:
                    "side top top"
                    "side main main"
                    "side main main";
}
#side_nav{
    grid-area: side;
    color:white;
    background-color: #212931;
    height: 100%;
    width: 250px;
    z-index: 10;
}
#top_bar{
    grid-area: side;
    display: grid;
    grid-template-columns: 250px 2fr 1fr;
    color:white;
   /* background-color: #212931;*/
    height: 70px;
    width: 100%;
    z-index: 11;
    align-items: center;
}
#home_but{
    display: grid;
    align-items: center;
}
#search_bar{
    justify-self: center;
}
.form-inline{
    margin: auto;
}
#login{
    justify-self: right;
}
.btn{
    margin-left: 15px;
}
#font-form{
    color:white;
}
.fa-user{
    padding-top: 1px;
    padding-right: 10px;
     vertical-align: middle;
}
.login_font{
    font-weight: bold;
    vertical-align: center;
    align-self: center;
    padding-right: 15px;
}
.fa-hospital-o{
    vertical-align: middle;
    justify-self: center;
}