{% set active_page="reports" %}
{% extends "base.html" %}
{% block content  %}
   <div class="report">
        <div style="grid-area: state">
            <label><b>Ošetřující lékař :</b></label>
            <div>Placeholder</div>
        </div>
        <div style="grid-area: description">
            <label><b>Popis :</b></label>
            <div>Placeholder</div>
        </div>
        <div style="grid-area: attachment">
            <label><b>Přílohy :</b></label>
            <div>Placeholder</div>
        </div>
    </div>
{% endblock %}