<!--Přidání nové lékařské zprávy  -->
{% set active_page="reports" %}
{% extends "base.html" %}
{% block content %}
    <form method="post" enctype=multipart/form-data>
    <div class="add-user-form">
        <div style="margin-top: 10px"><label for="Name"><b>Název:</b></label><br />
            <input style="width: 75%" type="text" placeholder="Zadejte Název" name="Name">
        </div>
        <div style="margin-top: 10px"><label for="content"><b>Obsah:</b></label><br>
            <textarea type="text" style="width: 450px; border-radius: 10px; height: 200px" placeholder="Obsah zprávy" name="content"></textarea>
        </div>
        <div style="margin-top: 10px"><label for="attachment"><b>Lékařská zpráva:</b></label><br/>
            <input type="file" placeholder="Zadejte lékařskou zprávu" name="attachment">
        </div>
        <div style="display: grid; justify-items: center; margin-top: 25px">
            <button class="button" type="submit" style="width: 250px">Vytvořit</button>
        </div>
    </div>
    </form>
{% endblock %}