<!--Lékařská zpráva - karta -->
{% set active_page="reports" %}
{% extends "base.html" %}
{% block content %}
    <div class="report">
        <div style="grid-area: name">
            <label><b>Název :</b></label>
            <div>{{ report.Name }}</div>
        </div>
        <div style="grid-area: doctor">
            <label><b>Ošetřující lékař :</b></label>
            <div>{{ author.name }}</div>
        </div>
        <div style="grid-area: description">
            <label><b>Popis :</b></label>
            <div>{{ report.content }}</div>
        </div>
        <div style="grid-area: attachment">
            <label><b>Příloha :</b></label>
            <form method="POST">
                  <button type="submit" name="submit_param" value="submit_value" class="hide-button">
                    <div>{{ report.attachment_name }}</div>
                  </button>
            </form>
        </div>
    </div>
{% endblock %}