<!--Zdravotní problém karta  -->
{% set active_page="reports" %}
{% extends "base.html" %}
{% block content %}
    <div class="problem">
        <div style="text-align: right; grid-area: top-button">
            <button class="button" style="width: 100px;" type="submit"
                    onclick="document.location = 'delegate_problem?p_id=' + {{problem._id}} ;">Předat
            </button>
        </div>
        <div style="grid-area: name">
            <label><b>Název :</b></label>
            <div>{{problem.name}}</div>
        </div>
        <div style="grid-area: state">
            <label><b>Stav :</b></label>
            <div>{{problem.state}}</div>
        </div>
        <div style="grid-area: doctor">
            <label><b>Ošetřující lékař :</b></label>
            <div>{{doctor}}</div>
        </div>
        <div style="grid-area: description">
            <label><b>Popis :</b></label>
            <div>{{problem.description}}</div>
        </div>
        <div style="grid-area: attachment">
            <label><b>Lékařské zprávy :</b></label>
            {% for report in reports %}
            <div class="hide-button" onclick="document.location = '{{url_for('medical_problem',  id=report._id)}}';" style="cursor: pointer">{{ report.Name }}</div>
             {% endfor %}
        </div>
                <div style="text-align: left; grid-area: bottom-button">
            <button class="button" style="width: 200px;" type="submit" onclick="document.location = '{{ url_for('medical_report_creator', health_problem_id=problem._id) }}';">Přidat zprávu</button>
        </div>
        {% if "isDoctor" in session %}
            {% if session["isDoctor"] == 1 %}
        <div style="grid-area: tickets">
            <label><b>Žádosti o vyšetření:</b></label>
            {% for examination in examinations %}
            <div class="hide-button" onclick="document.location = 'medical_examination?r_id=' + {{examination.id}} ;" style="cursor: pointer">{{ examination.name }}</div>
             {% endfor %}
        </div>
                {% endif %}
        {% endif %}
                <div style="text-align: left; grid-area: bottom-button">
            <button class="button" style="width: 200px;" type="submit" onclick="document.location = '{{ url_for('medical_report_creator', health_problem_id=problem._id) }}';">Přidat zprávu</button>
        </div>
        <div style="text-align: right; grid-area: bottom-button">
            <button class="button" style="width: 200px;" type="submit" onclick="document.location = 'ticket?p_id=' + {{problem._id}} ;">Zažádat o
                vyšetření
            </button>
        </div>

    </div>
{% endblock %}