html{
    font-family: "Times New Roman", Times, serif;
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
    grid-template-columns: 13.13rem 1fr 1fr;
    grid-template-rows: 70px 1fr 1fr;
    display: grid;
    grid-template-areas:
                    "top top top"
                    "side main main"
                    "side main main";
}
#side_nav{
    grid-area: side;
    color:white;
    background-color: #212931;
    height: 100%;
    width: 13.13rem;
    z-index: 10;
}
#top_bar{
    grid-area: top;
    display: grid;
    grid-template-columns: 13.13rem 2fr 1fr;
    color:white;
   /* background-color: #212931;*/
    height: 70px;
    width: 100%;
    z-index: 11;
    align-items: center;
}
#home-but a{
    display: grid;
    align-items: center;
    color: white;
}
#home-but a:link{
    color: white;
}
#home-but a:hover{
    color: white;
}
#home-but a:visited{
    color: white;
}
#search_bar{
    justify-self: center;
}
.form-inline{
    margin: auto;
}
#login{
    justify-self: right;
}
.btn{
    margin-left: 15px;
}
#font-form{
    color:white;
}
.fa-user{
    padding-top: 1px;
    padding-right: 10px;
     vertical-align: middle;
}
.login_font{
    font-weight: bold;
    vertical-align: center;
    align-self: center;
    padding-right: 15px;
}
.fa-hospital-o{
    vertical-align: middle;
    justify-self: center;
    display: block;
}
.fa-hospital-o a:hover{
    color: white;
}
.side-navbar-cell{
    padding-bottom: 3px;
    padding-top: 3px;
    padding-left: 25px;
}
.side-navbar-cell a:link{
    display: block;
    text-decoration: none;
}
.hover{
       background-color: #202226;
}
a:hover{
    color: white;
    text-decoration: none;
}
a:link{
    color: white;
    text-decoration: none;
}
a:visited{
    color: white;
    text-decoration: none;
}
.side-navbar-cell a:hover {
    color: white;
    text-decoration: none;
}
.side-navbar-cell {
    text-decoration: none;
}
.active{
    background-color: #202226;
    border-left: .25rem solid #25b9d7;
    padding-left: calc(25px - .25rem);
}
