<!--Přidání zdravotního problému uživatel má účet  -->
{% set active_page="reports" %}
{% extends "base.html" %}
{% block content %}
  <form style="width: 400px" id="health_problem_old"action="{{ url_for('health_problem_old') }}" method="post">
    <div class="add-user-form">
        <div style="width: 75%">
            <label for="user_email"><b>E-mail uživatele : (Povinné)</b></label>
            <input type="text" placeholder="Zadejte e-mail pacienta" name="user_email" {% if data is defined %}value="{{ data['user_email'] }}" {% endif %} required>
        </div>
        <div style="width: 75%">
            <label for="name_problem"><b>Název :</b></label>
            <input type="text" placeholder="Zadejte název problému" {% if data is defined %}value="{{ data['name'] }}" {% endif %} name="name">
        </div>
        <div style="width: 75%">
            <label for="state"><b>Stav :</b></label>
            <input type="text" placeholder="Zadejte stav" {% if data is defined %}value="{{ data['state'] }}" {% endif %}name="state">
        </div>
        <div style="width: 75%">
            <label for="description"><b>Popis :</b></label><br>
            <textarea  style="width: 350px; height: 150px; border-radius: 10px;" type="text" placeholder="Zadejte stav" name="description"> {% if data is defined %}value="{{ data['description'] }}" {% endif %}</textarea>
        </div>
        <!--div><label for="report"><b>Lékařská zpráva</b></label>
            <input type="file" placeholder="Zadejte lékařskou zprávu" name="report">
        </div-->
        <div style="display: grid; justify-items: center; margin-top: 25px">
            <button  style="width: 100px" class="button" type="submit">Vytvořit</button>
        </div>
    </div>
  </form>
{% endblock %}