{% set active_page="reports" %}
{% extends "base.html" %}
{% block content  %}
    <div class="add-user-form">
        <div>  <label for="name_problem"><b>Název</b></label>
        <input type="text" placeholder="Zadejte název problému" name="name_problem">
    </div>
        <div>  <label for="state"><b>Stav</b></label>
        <input type="text" placeholder="Zadejte stav" name="state">
    </div>
        <div>  <label for="report"><b>Lékařská zpráva</b></label>
        <input type="text" placeholder="Zadejte lékařskou zprávu" name="report">
    </div>
    <div>
        <button class="button" type="submit">Vytvořit</button>
    </div>
</div>
{% endblock %}