<!--Předat zdravotní problém  -->
{% set active_page="reports" %}
{% extends "base.html" %}
{% block content %}
    <form method="post">
    <div class="add-user-form">
        <div>
            <label for="name"><b>E-mail:</b></label>
            <input type="text" placeholder="Zadejte email doktora" name="id_doctor" {% if id_doctor is defined %} value="{{ id_doctor }}" {% endif %} required>
            <div style="display: grid; justify-items: center; margin-top: 25px">
                <button class="button"  type="submit">Předat</button>
            </div>
        </div>
    </div>
    </form>
{% endblock %}