<!--Lékařské vyšetření - karta -->
{% set active_page="examination_ticket" %}
{% extends "base.html" %}
{% block content %}
    <div class="report">
        <div >
            <label><b>Název :</b></label>
            <div>{{e_request.name}}</div>
        </div>
        <div >
            <label><b>ID zdravotního problému:</b></label>
            <div>{{e_request.health_problem_id}}</div>
        </div>
        <div >
            <label><b>Popis :</b></label>
            <div>{{e_request.description}}</div>
        </div>
        <div style="width: 900px;">
        <button class="button" style="width: 200px;" type="button" onclick="document.location = 'payment_request';">
                        Zažádat o proplacení
        </button>
            <button class="button" style="width: 200px;" type="button" onclick="document.location = '{{ url_for('medical_report_creator', health_problem_id=e_request.health_problem_id) }}';">
                Přidat zprávu
            </button>
            <form method="POST">
            <button class="button" type="submit" name="submit_param" value="submit_value" style="width: 200px;" type="button">
                Žádost vyřízena
            </button>
            </form>
        </div>
    </div>
{% endblock %}