<!--Seznam požadovaných vyšetření -->
{% set active_page="examination_ticket" %}
{% extends "base.html" %}
{% block content %}
        <div class="table-medical-examinations">
        <table class="table">
            <thead>
            <tr>
                <th scope="col" style="width: 140px">ID</th>
                <th scope="col" style="width: 200px">Název</th>
                <th scope="col" style="width: 280px">Název zdravotního problému</th>
                <th style="width: 100px"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row" class="input-row"><input type="text" style="border-radius: 0" placeholder="" name="ID"
                                                         class="input-row"></th>
                <td><input style="border-radius: 0" type="text" placeholder="" name="name" class="input-row"></td>
                <td><input style="border-radius: 0" type="text" placeholder="" name="health_problem" class="input-row"></td>
                <td>
                    <button class="button input-row" type="submit">Hledat</button>
                </td>
            </tr>
                {% for request in requests%}
                    <tr style="cursor: pointer">
                <th class="custom-button" scope="row" onclick="document.location = 'medical_examination?r_id=' + {{request.id}} ;">{{request.id}}</th>
                <td class="custom-button" onclick="document.location = 'medical_examination?r_id=' + {{request.id}} ;" >{{request.name}}</td>
                <td class="custom-button" onclick="document.location = 'medical_examination?r_id=' + {{request.id}} ;">{{health_problem_names[request.id]}}</td>
                <td  class="custom-button" onclick="document.location = 'problem_report?p_id=' + {{request.id}} ;">
                   Detail
                </td>
            </tr>
            {% endfor %}
            
            
            </tbody>
        </table>
    </div>
{% endblock %}