<!--Lékařské vyšetření - karta -->
{% set active_page="examination_ticket" %}
{% extends "base.html" %}
{% block content %}
    <div class="report">
        <div >
            <label><b>Název žádosti:</b></label>
            <div>{{e_request.name}}</div>
        </div>
        <div >
            <label><b>Jméno ošetřujícího lékaře:</b></label>
            <div>{{doctor_received_by.name}} {{doctor_received_by.surname}}</div>
        </div>
        <div >
            <label><b>Zdravotní problém:</b></label>
            <div>{{health_problem_name }}</div>
        </div>
        <div >
            <label><b>Jméno zadavatele:</b></label>
            <div>{{doctor_created_by.name}} {{doctor_created_by.surname}}</div>
        </div>
        <div >
            <label><b>Popis :</b></label>
            <div>{{e_request.description}}</div>
        </div>
        {#% if e_request.received_by == session[user_id]: %#}
        <div style="width: 900px;">
        <button class="button" style="width: 200px;" type="button" onclick="document.location = 'payment_request';">
                        Zažádat o proplacení
        </button>
            <button class="button" style="width: 200px;" type="button" onclick="document.location = '{{ url_for('medical_report_creator', health_problem_id=e_request.health_problem_id) }}';">
                Přidat zprávu
            </button>
            <div style="display: inline;">
            <form method="POST" style="display: inline; margin: 0;">
            <button class="button" type="submit" name="submit_param" value="submit_value" style="width: 200px;" type="button">
                Žádost vyřízena
            </button>
            </form>
            </div>
        </div>
        {#% endif %#}
    </div>
{% endblock %}