<!--Předat zdravotní problém  -->
{% set active_page="reports" %}
{% extends "base.html" %}
{% block content %}
    <form method="post" style="width: 400px">
    <div class="add-user-form">
        <div style="display: grid; justify-items: center;">
            <label for="template"><b>Název zákroku : (Povinné) </b></label>
            <select id="template" class="custom-select" name="template" style="margin-top: 10px;">
                <option value="" disabled selected>Vyberte název zákroku</option>
                {% for item in templates %}
                <option value="{{item.name}}">{{item.name}}</option>
                {% endfor %}
            </select>
            <div style="display: grid; justify-items: center; margin-top: 25px">
                <button style="width: 100px" class="button" type="submit">Požádat</button>
            </div>
        </div>
    </div>
    </form>
{% endblock %}