<!--Úvodní obrazovka a sumarizace zdravotních problémů-->
{% set active_page="reports" %}
{% extends "base.html" %}
{% block content %}
    <div class="table-report">
        <table class="table">
            <thead>
            <tr>
                <th scope="col" style="width: 140px">ID</th>
                <th scope="col" style="width: 240px">Název</th>
                <th scope="col" style="width: 140px">Stav</th>
                <th scope="col" style="width: 380px">Popis</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td scope="row" class="input-row"><input type="text" style="border-radius: 0" placeholder="" name="ID"
                                                         class="input-row"></td>
                <td><input style="border-radius: 0" type="text" placeholder="" name="name" class="input-row"></td>
                <td><input style="border-radius: 0" type="text" placeholder="" name="state" class="input-row"></td>
                <td></td>
                <td>
                    <button class="button input-row" type="submit">Hledat</button>
                </td>
            </tr>

            {% for problem in problems %}
                <tr style="cursor:pointer">
                <th class="custom-button" scope="row" onclick="document.location = 'problem_report?p_id=' + {{problem._id}} ;">{{ problem._id}}</th>
                <td class="custom-button" onclick="document.location = 'problem_report?p_id=' + {{problem._id}} ;">{{problem.name}}</td>
                <td class="custom-button" onclick="document.location = 'problem_report?p_id=' + {{problem._id}} ;">{{problem.state}}</td>
                <td class="custom-button" onclick="document.location = 'problem_report?p_id=' + {{problem._id}} ;">{{problem.description}}</td>
                <td  class="custom-button" onclick="document.location = 'problem_report?p_id=' + {{problem._id}} ;"class="">
                   Detail
                </td>
            </tr>
            {%endfor%}
                        <tr>
                <th></th>
                <td></td>
                <td></td>
                <td ></td>
                <td>
                    <button class="button input-row" type="button" onclick="document.location = 'health';">Přidat</button>
                </td>
            </tr>
            <!--{#% for row in rows %#}
    <a href="medical_report">
    <tr>
        <th scope="row">{row.id}</th>
        <td>{#{ row.product_code }#}</td>
        <td>{#{# row.product_code }#}</td>
        <td>{#{# row.product_code }#}</td>
        <td></td>
    </tr>
    </a>*-->
            {#% endfor %#}
            </tbody>
        </table>
    </div>
{% endblock %}