{% set active_page="reports" %}
{% extends "base.html" %}
{% block content  %}
<div class="table-report">
    <table class="table">
        <thead>
        <tr>
            <th scope="col" style="width: 140px">ID</th>
            <th scope="col" style="width: 240px">Název</th>
            <th scope="col" style="width: 140px">Stav</th>
            <th scope="col" style="width: 480px">Lékařská zpráva</th>
            <th scope="col" style="width: 380px">Popis</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td scope="row" class="input-row"><input type="text" style="border-radius: 0" placeholder="" name="ID"
                                                     class="input-row"></td>
            <td><input style="border-radius: 0" type="text" placeholder="" name="name" class="input-row"></td>
            <td><input style="border-radius: 0" type="text" placeholder="" name="state" class="input-row"></td>
            <td><input style="border-radius: 0" type="text" placeholder="" name="medical_report" class="input-row"></td>
            <td></td>
            <td><button class="button input-row" type="submit">Hledat</button></td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>Prvni</td>
            <td>Druhy</td>
            <td>Treti</td>
            <td>Ctvrty</td>
            <td></td>
        </tr>
        <!--{#% for row in rows %#}
    <tr>
        <th scope="row">{row.id}</th>
        <td>{#{ row.product_code }#}</td>
        <td>{#{# row.product_code }#}</td>
        <td>{#{# row.product_code }#}</td>
        <td></td>
    </tr>*-->
        {#% endfor %#}
        </tbody>
    </table>
</div>
{% endblock %}