<!--Formulář žádosti o vyšetření-->
{% set active_page="reports" %}
{% extends "base.html" %}
{% block content %}
    <form method="post">
    <div class="new-ticket">
        <div>
            <label><b>Název :</b></label>
            <input type="text" placeholder="Zadejte název" {% if name is defined %}value="{{ name }}" {% endif %}name="name">
        </div>
        <div>
            <label><b>Email doktora:</b></label>
            <input type="text" placeholder="Zadejte email doktora" {% if received_by is defined %}value="{{ received_by }}" {% endif %}name="received_by" required>
        </div>

        <div>
            <label><b>Informace k žádosti :</b></label><br />
            <textarea style="width: 400px; height: 150px; border-radius:10px;" type="text" placeholder="Zadejte informace k žádosti" name="description">{% if description is defined %}{{ description }} {% endif %}</textarea>
        </div>
        <div style="display: grid; justify-items: center; margin-top: 10px">
            <button class="button input-row" style="border-radius: 10px; padding: 10px" type="submit"><b>Zadat</b></button>
        </div>
    </div>
    </form>
{% endblock %}