<!--Formulář žádosti o vyšetření-->
{% set active_page="reports" %}
{% extends "base.html" %}
{% block content %}
    <form method="post">
    <div class="new-ticket">
        <div>
            <label><b>Název</b></label>
            <input type="text" placeholder="Zadejte název" name="name">
        </div>
        <div>
            <label><b>ID doktora</b></label>
            <input type="text" placeholder="Zadejte id doktora" name="id">
        </div>
        <div>
            <label><b>Popis</b></label>
            <input type="text" placeholder="Zadejte popis" name="description" required>
        </div>
        <div>
            <button class="button input-row" type="submit">Zadat</button>
        </div>
    </div>
    </form>
{% endblock %}