<div id="md01" class="modal">
    <form class="modal-body animation" action="" method="post">

        <span onclick="document.getElementById('md01_register').style.display='none';document.getElementById('md01_login').style.display='block'; document.getElementById('md01').style.display='none';" class="close" title="Zavřít">&times;</span>

        <div id="md01_login" class="content-modal">
            <label for="e-mail"><b>E-mail</b></label>
            <input type="text" placeholder="Zadejte svou e-mailovou adresu" name="e-mail" required>
            <label for="password"><b>Heslo</b></label>
            <input type="password" placeholder="Zadejte heslo" name="password" required>
            <div></div>
            <button class="button" type="submit">Přihlásit se</button>
            <button class="button" onclick="document.getElementById('md01_login').style.display='none'; document.getElementById('md01_register').style.display='block';">Registrovat</button>
            <label><input type="checkbox" name="remember">Zapamatovat </label>
        </div>
        <div id="md01_register" class="content-modal">
            <label for="e-mail"><b>E-mail</b></label>
            <input type="text" placeholder="Zadejte svou e-mailovou adresu" name="e-mail" required>
            <label for="password"><b>Heslo</b></label>
            <input type="password" placeholder="Zadejte heslo" name="password" required>
            <button class="button" type="submit">Registrovat</button>
        </div>
    </form>
</div>