{% set active_page="reports" %}
{% extends "base.html" %}
{% block content  %}
    <div class="new-ticket">
        <div>
            <label><b>Stav</b></label>
            <input type="text" placeholder="Placeholder" name="surname" required>
        </div>
        <div>
            <label><b>Stav</b></label>
            <input type="text" placeholder="Placeholder" name="surname" required>
        </div>
        <div>
            <label><b>Stav</b></label>
            <input type="text" placeholder="Zadejte své příjmení" name="surname" required>
        </div>
        <div>
            <label><b>Stav</b></label>
            <input type="text" placeholder="Zadejte své příjmení" name="surname" required>
        </div>
        <div>
            <label><b>Stav</b></label>
            <input type="text" placeholder="Zadejte své příjmení" name="surname" required>
        </div>
        <div>
            <button class="button input-row" type="submit">Zadat</button>
        </div>
    </div>
{% endblock %}