{% extends "base.html" %}
{% block content  %}
    <div class="no-edit-user-form-container">
        <div class="no-edit-user-form">
            <div id="pencil"><a href="#edit_form"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></div>
            <div class="user-form-item"><label id="custom-label" for="name"><b>Jméno :</b></label><input type="text"  id="edit-user-form" placeholder="" class="edit-user-form-input" name="name" required><span id="edit-user-form" class="edit-user-form-input" style="display: block">Placeholder</span></div>
            <div class="user-form-item"><label id="custom-label" for="surname"><b>Příjmení :</b></label><input type="text" id="edit-user-form" placeholder=""class="edit-user-form-input"  name="surname" required><span id="edit-user-form" class="edit-user-form-input" style="display: block">Placeholder</span></div>
            <div class="user-form-item"><label id="custom-label" for="home"><b>Bydliště</b></label><input type="text" id="edit-user-form" placeholder="" class="edit-user-form-input" name="home" required><span id="edit-user-form" class="edit-user-form-input" style="display: block">Placeholder</span></div>
            <button id="edit-user-form" class="button edit-user-form-input button-edit-user-form-input" type="submit">Změnit</button>
        </div>


    </div>
{% endblock %}