<!--Profil uživatele-->
{% extends "base.html" %}
{% block content %}
    <div class="no-edit-user-form-container">
        <div class="no-edit-user-form">
            <div id="pencil"><a href="#edit_form"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></div>
            <div class="user-form-item"><label id="custom-label" for="name"><b>Jméno :</b></label><input type="text"
                                                                                                         id="edit-user-form"
                                                                                                         placeholder=""
                                                                                                         class="edit-user-form-input"
                                                                                                         name="name"><span
                    id="edit-user-form" class="edit-user-form-input" style="display: block">{{name}}</span></div>
            <div class="user-form-item"><label id="custom-label" for="surname"><b>Příjmení :</b></label><input
                    type="text" id="edit-user-form" placeholder="" class="edit-user-form-input" name="surname"><span
                    id="edit-user-form" class="edit-user-form-input" style="display: block">{{surname}}</span></div>
            <div class="user-form-item"><label id="custom-label" for="email"><b>Email :</b></label><input type="email"
                                                                                                          id="edit-user-form"
                                                                                                          placeholder=""
                                                                                                          class="edit-user-form-input"
                                                                                                          name="email"><span
                    id="edit-user-form" class="edit-user-form-input" style="display: block">{{email}}</span></div>
            <div class="user-form-item"><label id="custom-label" for="tel-number"><b>Telefonní číslo :</b></label><input
                    type="email" id="edit-user-form" placeholder="" class="edit-user-form-input" name="tel-number"><span
                    id="edit-user-form" class="edit-user-form-input" style="display: block">{{phone}}</span></div>
            <div class="user-form-item"><label id="custom-label" for="home"><b>Bydliště :</b></label><input type="text"
                                                                                                            id="edit-user-form"
                                                                                                            placeholder=""
                                                                                                            class="edit-user-form-input"
                                                                                                            name="home"><span
                    id="edit-user-form" class="edit-user-form-input" style="display: block">Placeholder</span></div>
            <button id="edit-user-form" class="button edit-user-form-input button-edit-user-form-input" type="submit">
                Změnit
            </button>
        </div>


    </div>
{% endblock %}